<%- include('partials/header.ejs') %>
    
    <div class="container">
        <div class="title">
            <img src="image/sticky-note.png" alt="stickyNote_img">
            <h5> <%= week %></h5>
            <div class="list-title "> 
                <p ><%=listTitle%></p>
            </div>
            <p><%= dateTime %></p>
            
        </div>
            <div class="row">
                <div class="col-md-4 offset-md-4 column1">
                    <div class="add-control">
                        <form class="d-flex " role="text" action="/add", method="post" >
                            <input class="form-control me-2 addForm" type="text" id="newTask" name="newTask" placeholder="âœðŸ» Add task..." aria-label="Add" autofocus required>
                            <button class="btn btn-outline-success" type="submit" name="list" value="<%= listTitle %>">Add</button>
                        </form> 
                    </div>
                             
                    <ul class="list-group list">
                        <% listItems.forEach((item)=>{ %>
                         <form method="post" action="/delete">
                            <li class="list-group-item <%= item.id %> item">
                                <input class="form-check-input checkBox" type="checkbox" id="<%= item.id %>" name="checkbox" value="<%= item.id %>" onChange="submit()"  > 
                                <label class="form-check-label checkBox-text" for="<%= item.id %>" > <%= item.name %></label>
                            </li>
                            <div>
                                <input type="hidden" name="list" value="<%=listTitle%>">
                            </div>
                         </form> 
                        <% }) %> 
                    </ul>
                    <% if (listTitle !== "Today") { %>
                        <div class="remove-button">
                            <form action="/deletelist", method="post">   
                                <button class="btn btn-outline-success" type="submit" name="list" value="<%= listTitle %>">Remove List</button>
                             </form>
                        </div>
                    <% };%>
                </div>
            </div>   
    </div>

<%- include('partials/footer.ejs') %>